.row {
    margin-right: -170px;
}

.list:hover{
    background-color: lightgray;
}

#cityName {
    float: left;
}

#imgMainCard{
    float: left;
}

#temp{
    clear: both;
}

#uvIndexText {
    float: left;
}

#uvIndexValue {
    color: snow;
    float: left;
    width: 3em;
    text-align: center;
    border-radius: 3px;
    background-color: firebrick;
}

#uvIndexValue:hover {
    background-color: orangered;
}